<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
</head>
<body>
<h1>Order Confirmation</h1>
<p>Order Reference: <span th:text="${orderReference}"></span></p>
<p>Total Amount: <span th:text="${totalAmount}"></span></p>
<p>Payment Method: <span th:text="${paymentMethod}"></span></p>
<p>Customer First Name: <span th:text="${customer.firstName}"></span></p>
<p>Customer Last Name: <span th:text="${customer.lastName}"></span></p>
<p>Customer Email: <span th:text="${customer.email}"></span></p>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>